<%# app/views/students/index.html.erb %>
<h1>Serviços <%= link_to '+', new_servico_path %></h1>

<br>
<table border="1"><tr><td>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  <div>
    Pesquisa
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Tipo Serviço
    <%= f.select(
      :with_tipo_servico_id,
      @filterrific.select_options[:with_tipo_servico_id],
      { include_blank: '- Todos -' }
    ) %>
  </div>

  <div>
    Unidade
    <%= f.select(
      :with_unidade_id, 
      @filterrific.select_options[:with_unidade_id], 
      { include_blank: '- Todos -'})
    %>
  </div>
  <div>
    Ordenado por
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Limpar Filtros',
      reset_filterrific_url,
    ) %> &nbsp; <%= f.submit 'Filtrar' %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  
<% end %>
</td></tr></table>
<br><br>

<%= render(
  partial: 'servicos/list',
  locals: { servicos: @servicos }
) %>