<p id="notice"><%= notice %></p>

<h1>Tipo Servicos <%= link_to '+', new_tipo_servico_path %></h1>

<br>
<table border="1"><tr><td>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
  <div>
    Pesquisa

    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Item Pai
    <%= f.select(
      :with_father_id,
      @filterrific.select_options[:with_father_id],
      { include_blank: '- Todos -' }
    ) %>
  </div>

  <div>
    Ordenado por
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Limpar Filtros',
      reset_filterrific_url,
    ) %> &nbsp; <%= f.submit 'Filtrar' %>
  </div>
  
<% end %>
</td></tr></table>
<br><br>

<%= render(
  partial: 'tipo_servicos/list',
  locals: { tipo_servicos: @tipo_servicos }
) %>