<%= form_for(obra) do |f| %>
  <% if obra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(obra.errors.count, "error") %> prohibited this obra from being saved:</h2>

      <ul>
      <% obra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
