<p id="notice"><%= notice %></p>

<h1>Obras <%= link_to '+', new_obra_path %></h1>

<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>

<br>
<table border="1"><tr><td>
  <div>
    Pesquisa
    <%= f.text_field(:search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <div>
    Ordenado por
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>

  <div>
    <%= link_to(
      'Limpar Filtros',
      reset_filterrific_url,
    ) %> &nbsp; <%= f.submit 'Filtrar' %>
  </div>

  <% end %>
  </td></tr></table>
  <br><br>

  <%= render(
  partial: 'obras/list',
  locals: { obras: @obras }
) %>