<header>
    <div>
      <nav>
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Usuários", users_path %></li>
            <li>
              <ul>
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configurações", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Sair", sign_out_path, method: "delete" %>
                </li>
              </ul>
            </li>

            <!-- Tabelas base-->
            <li>Tabelas de Apoio</li>
            <li>
              <ul>
                <li><%= link_to "Unidades", unidades_path %></li>
                <li><%= link_to "TipoServicos", tipo_servicos_path %></li>
                <li>
                  <%= link_to "Insumos", insumos_path %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Entrar", root_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>