<!DOCTYPE html>
<html>
  <head>
    <title>Orc</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!-- Arquivo css externo -->
    <%= stylesheet_link_tag    'menu', media: 'all', 'data-turbolinks-track' => true %>
 </head>

  <body>
    <%= render 'layouts/header' %>
      <br><br>
      <p></p>
    <%= yield %>
    <footer>
      <sub>
        EngOrc | Sistema de Orçamento para Engenharia
      </sub>
    </footer>
  </body>
</html>